
body{
    margin: 10px;
    background-image: url(img/blackboard.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;

}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-container section {
    margin: 20px;
}
header{
    color:lightseagreen;
}

.cuadrado, 
.circulo, 
.triangulo,
.preciodescuento {
    background-color: gray;
    border-radius: 20px;    
}

.titulo-div {
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.input-datos {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.input-datos input {
   border-radius: 15px;
}


.botones {
    display: flex;
    justify-content: space-around;
    margin: 20px;

}

.botones button {
    height: 25px;
    border: 10px;
    border: none;
    color: black;  
    margin: 5px; 
    border-radius: 15px;
}

.salida {
    display: flex;
    border-bottom: 10px;
    justify-content: center;
}

.salida p {
    margin: 10px;
}


